body {
    width: fit-content;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0 auto;
    padding: 0;
    overflow: none;
    box-sizing: border-box;
}

.d-flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.d-flex-row {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    max-width: 82.5625rem;
    height: fit-content;
    background-color: #161616;
    border-radius: 30px;
    color: white;
    margin-top: 3.125rem;
    position: relative;
}

.header-info {
    max-width: 33.1875rem;
    max-height: 26.5rem;
    margin: 6.9375rem .8125rem 6.9375rem 6.625rem;
}

.header-info h1 {
    font-weight: 700;
    font-size: 4.375rem;
    line-height: 5.5rem;
}

.header-info p {
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
}

.btn {
    width: 11.6875rem;
    height: 3.5rem;
    background: #DD0000;
    border-radius: .3125rem;
    color: white;
    font-size: 1.25rem;
    margin-top: 1.875rem;
}

.fa-chevron-right {
    margin-left: .625rem;
    font-size: 1.25rem;
}

.header-image {
    width: 36.3125rem;
    height: 38.3125rem;
    margin-top: 2.0625rem;
    padding-top: 6.625rem;
    margin-right: 5rem;
}

.header-image img {
    width: 100%;
}

/* animation */

@keyframes bounce {
    0%{top: var(--ball-top-position);}
    25%{top:50%};
    50%{top: var(--ball-top-position);}
    75%{top: 75%;}
    100%{top: var(--ball-top-position);}
    
}

.ball {
    position: absolute;
    top: 545px;
    left: 73%;
    height: 100px;
    width: 120px !important;
    animation-play-state: running;
}

.container:hover .ball {
    animation: bounce 2s ease-in-out .5s infinite alternate;
}

.ball img {
    width: 100%;
}


.main-body {
    max-width: 82.5625rem;
    min-height: 75rem;
    margin: 8.125rem auto;
    justify-content: center;
}

.nav {
    min-width: 312px;
    max-height: 312px;
    background: #161616;
    border-radius: 10px;
    margin-right: 1.125rem;
    padding: 30px;
}

.nav-btn {
    width: 252px;
    height: 64px;
    background: white;
    border-radius: 5px;
    color: #161616;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}
.btn:hover{
    transform: scale(1.2);
}
.nav-btn:hover {
    background: #DD0000;
    color: white;
}

.transfer-items {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 24px;
}

.item {
    width: 19.5rem;
    height: 22.625rem;
    border: .0625rem solid #E8E8E8;
    border-radius: 10px 10px 0px 0px;

}

.item-info {
    padding: 1.25rem;
}

.item img {
    width: 100%;
}

.item-btn {
    width: 6.25rem;
    height: 2rem;
    background: white;
    border-radius: .3125rem;
    border: 1px solid #161616;
}

.item p {
    width: 17rem;
    height: 3.375rem;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    margin-top: .9375rem;
    margin-bottom: 1.25rem;
}

#time {
    margin-right: .625rem;
}

.footer {
    width: 100rem;
    height: 27.75rem;
    background: #161616;
}

.footer-heading {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.75rem;
    color: white;
}

.footer ul {
    list-style: none;
    display: block;
    width: 100%;
    margin: 0 auto;
}

li {
    display: inline-block;
    color: white;
    margin: 0 .625rem;
}

/* Upcoming match css */
a {
    text-decoration: none;
}

.body {
    max-width: 82.5625rem;
    min-height: 40rem;
    margin: 8.125rem auto;
    justify-content: center;
}

.upcoming-match {
    height: fit-content;
    max-width: 82.5625rem;
}

.match-day {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.match {
    width: 19.5rem;
    height: 20.125rem;
    padding: 3.25rem 1.875rem;
    border: 1px solid #E8E8E8;
    justify-content: space-between;
    text-align: center;
}

.vs {
    display: inline-block;
    font-weight: 700;
    margin: auto 1.25rem;
}

.match .image {
    align-items: center;
}

.match .image img {
    width: 100%;
}

.flag {
    width: 5.815rem;
    height: 3.3237rem;
}

.match-info {
    height: 3.75rem;
    width: 12.625rem;
}

.match-info p {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 600;
}

.match-info span {
    font-size: 1rem;
    line-height: 1.25rem;
}

@media screen and (min-width:993px) {
    .container {
        flex-direction: row;
    }

    .view-all {
        display: none;
    }
    /* animation */
:root {
    --ball-top-position: 545px;
}
.ball{
    top: var(--ball-top-position);
}
}

/* Media Query for Tablet */
@media screen and (min-width:689px) and (max-width:992px) {

    /* For blog items */
    body {
        margin: 0 auto;
        overflow-x: hidden;
        width: 100vw;
    }

    .container {
        flex-direction: row;
        width: 45.875rem;
        height: 29.8rem;
        margin: 2rem auto;
        position: relative;
    }

    .header-info {
        width: 40%;
        margin: 89px 0px 76px 76px;
    }

    .header-info h1 {
        width: 18.0625rem;
        font-weight: 700;
        font-size: 2.375rem;
        line-height: 2.9rem;
    }

    .header-info .btn {
        margin-top: 1rem;
    }

    .header-info p {
        width: 15.75rem;
        min-height: 3.625rem;
        margin: .875rem 0;
        font-size: .875rem;
        white-space: nowrap;
        Overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-image {
        position: absolute;
        top: 0px;
        left: 40%;
        width: 60%;
        margin-top: 93px;
        margin-bottom: 0;
        height: fit-content;
        padding: 0;
    }

    .header-image img {
        width: 100%;
        top: 0;
    }

    .main-body {
        flex-direction: column;
        width: 45.875rem;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }

    a {
        margin: 0;
        padding: 0;
    }

    .nav {
        display: flex;
        background: white;
        justify-content: space-between;
        width: 88.37vw;
        padding: 0;
        margin: 0 auto;
    }

    .nav-btn {
        width: 13rem;
        height: 4rem;
        border: 1px solid #E8E8E8;
        margin: 2rem auto;
        padding: 0;
    }

    .transfer-items {
        min-width: 47.3125rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        overflow: hidden;
        height: 80.9375rem;
    }

    .item {
        width: 357px;
        height: 414.21px;
    }

    .item-info p {
        margin-left: 0;
        margin-top: 1.875rem;
    }

    ;

    .view-all {
        display: contents;
    }

    #view-all {
        margin-bottom: 2rem;
    }

    .footer {
        width: 100vw;
        height: 21.5625rem;
        text-align: center;
    }

    .footer ul {
        list-style: none;
        display: block;
        width: 100%;
        margin: 0 auto;

    }

    .footer-items li {
        display: inline-block;
        color: white;
        margin: 0.5rem 2.625rem;
    }

    /* for upcoming match items */

    .upcoming-match {
        height: fit-content;
        min-width: 47.3125rem;
        margin-top: 0;
    }

    .match-day {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }

    .match {
        width: 357px;
    }
         /* animation */
        :root {
        --ball-top-position: 286px;
                 }
        .ball{
        top: var(--ball-top-position);
        left: 255px;
        transform: scale(.9);
        }
         
}

/*  Media Query for mobile devices */

@media screen and (min-width:200px) and (max-width:680px) {

    /* For blog items */
    body {
        width: 100vw;
        overflow-x: hidden;
        margin: 0 auto;
    }

    .container {
        flex-direction: column;
        text-align: center;
        width: 334px;
        height: 472px;
        margin: 1.5rem auto;
    }

    .header-info {
        width: 258px;
        height: 178px;
        margin: .75rem 2.375rem 0 2.375rem ;
    }

    .header-info h1 {
        width: 228px;
        height: 66px;
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
    }

    .header-info .btn {
        margin-top: -10rem;
        width: 161px;
        height: 40px;
    }

    .header-info p {
        width: 258px;
        height: 48px;
        margin-top: .675rem;
        font-size: .875rem;
        white-space: nowrap;
        Overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-image {
        width: 233px;
        height: 245px;
        margin: 0 auto;
    }
.player{
    position:absolute;
    top: 210px;
    left:20px;
}
    .header-image img {
        width: 90%;
    }

    .main-body {
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
        width: 89vw;
    }

    .nav {
        display: flex;
        flex-direction: column;
        background: white;
        width: 89vw;
    }

    .nav-btn {
        width: 15rem;
        height: 4rem;
        border: 1px solid #E8E8E8;
    }

    .transfer-items {
        max-width: 334px;
        grid-template-columns: repeat(1, 1fr);
        height: fit-content;
        margin-bottom: 2rem;
    }

    .item {
        width: 100%;
        height: 380px;
    }

    .item-info p {
        margin-left: 0;
        margin-top: 1.875rem;
    }



    .view-all {
        display: contents;
    }


    .footer {
        width: 100vw;
        height: 412px;
        text-align: center;
    }



    .footer-items li {
        display: inline-block;
        color: white;
        margin: 0.5rem 3.625rem;
    }

    .view-all {
        display: none;
    }

    /* for upcoming match items */

    .upcoming-match {
        height: fit-content;
        width: 20.875rem;
        margin-top: 0;
    }

    .match-day {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        margin-bottom: 2rem;
    }

    .match {
        width: 20.875rem;
    }
        /* animation */
        :root{
            --ball-top-position:384px
        }
        .ball {
            top: var(--ball-top-position);
            left: 170px;
            transform: scale(.7);
        }

}